@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

/* .content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
} */

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'dongdong';
  src: url('/assets/fonts/dongdong.ttf');
  font-weight: normal;
  font-style: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'KaiseiDecol';
  src: url('/assets/fonts/KaiseiDecol-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'Yosugara';
  src: url('/assets/fonts/yosugara1.1.ttf');
  font-weight: normal;
  font-style: normal;
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'HuiFont109';
  src: url('/assets/fonts/HuiFont109.ttf');
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'HuiFont';
  src: url('/assets/fonts/HuiFont29.ttf');
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'futene';
  src: url('/assets/fonts/futene.ttf');
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'Shirokuma';
  src: url('/assets/fonts/Shirokuma-Regular.otf') format('otf');
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: 'YeonSung';
  src: url('/assets/fonts/YeonSung-Regular.ttf');
}

:lang(ko) { font-family:'dongdong', sans-serif }
:lang(ja) { font-family: 'HuiFont', sans-serif }
:lang(en) { font-family: 'YeonSung', sans-serif }

html, body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255,229,217,1) 42%, rgba(216,226,220,1) 100%);
}

.en-font {
  font-family: 'YeonSung', sans-serif
}
.ja-font {
  font-family: 'HuiFont', sans-serif
}
.ko-font {
  font-family: 'Cute Font', sans-serif
}

@keyframes secondary-transition {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

textarea {
  resize: initial
}

textarea:focus {
  appearance: none;
  background-color: #fff;
  border-width: 1px;
  border-radius: 0;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
  box-shadow: none;
  border-color: unset;
}

#mainWrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#mainWrapper::-webkit-scrollbar {
  display: none;
}
